<h2>Insert a new celebrity into the database</h2>
<div class="row">
  <div class="col-md-4">

    <form action="/celebrities/create" method="get" class="form">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" placeholder="Enter the name of the celebrity" />
      </div>
      <div class="form-group">
        <label for="occupation">Occupation</label>
        <select name="occupation" id="occupation">
          <option selected>Choose the occupation</option>
          {{#each occupations}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="name">Catch Phrase</label>
        <textarea name="catchPhrase" class="form-control" placeholder="Enter the catch phrase of the celebrity"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
  </div>
</div>